/*------- Media Screens --------*/
$mobile : 320px;
$tablet : 768px;
$desktop : 1024px;
$xdesktop : 1440px;
$xxdesktop : 1920px;
/*------- Media Screens --------*/

/*------- Buttons --------*/
$button_bg: linear-gradient(45deg, #f19322, #c21e6c);
$button_bg_hover: linear-gradient(-45deg, #f19322, #f19322);
$button_text_color: #fff;
$small_padding : 10px 15px;
$mid_padding : 12px 18px;
$max_padding : 14px 20px;

/*------- HTML Elements --------*/
$body_bg : #fff;
$title_color: #000000;
$link_color: #c52873;
$link_hover_color: #f19322;
$link_active_color: #a70452;
$link_visited_color: #a70452;

$paragraph_color: #333333;
$atricle_color: #444444;