.product-list{
	a{ text-decoration: none; }
	.card{ margin-bottom: 15px;
		.product-name{ font-size: 16px; font-weight: 600; margin: 15px 0 5px; color: $dark; }
		.product-brand{ font-size: 14px;color: $dark; }
		.price{ margin: 5px 0;
			.default{ color: $m-dark; text-decoration: line-through; }
			.sale{ color: $dark; font-weight: 600; }
		}
	}
}


.product-grid{ margin: 0 -5px;
	
}

@media screen and (min-width: $small) {
	.product-grid{ 
		.product{
			display: inline-block; max-width: calc((100% - 5px)/2); width: 100%; padding: 0 5px; box-sizing: border-box;
		}
	}
}

@media screen and (min-width: $tablet) {
	.product-list{
	}

	.product-grid{ 
		.product{
			max-width: calc((100% - 10px)/3);
		}
	}
}

@media screen and (min-width: $desktop) {
	.product-list{
		
	}

	.product-grid{ 
		.product{
			max-width: calc((100% - 12px)/4);
		}
	}	
}